body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

button {
    width: 120px;
    margin: 20px;
    padding: 5px;
}

.container {
    flex: 0 0 768px;
    /* height: auto; */
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; 
    align-items: center;
    width: 768px; 

}